node_modules
.pnpm-store
.env
.env.local
.env.production
.env.api.production
.env.web.production
.env.worker.production
.DS_Store

# Logs
*.log

# Build
.dist
build
dist
.svelte-kit
coverage

# Turbo
.turbo
.vercel
